*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection{
    background-color: grey;
    color: white;
}
/* Start Nav */

header .navbar{
    background-color: black;
}

header button span{
    border-radius: 5px;
}

/* End Nav */

.image {
    width: 70%;
    height: auto;
    transition: opacity 0.5s;  /* the effect time */
}

/* Start progress bar */

.card-body .container{
    display: none;
}

.html {
    animation: html forwards 1s;
    animation-timing-function: ease-in;
}
.css {
    animation: css forwards 1s;
    animation-timing-function: ease-in;
}
.bootstrap {
    animation: bootstrap forwards 1s;
    animation-timing-function: ease-in;
}
.js {
    animation: js forwards 1s;
    animation-timing-function: ease-in;
}



@keyframes html {
    0%{
        background-color: red;
    }
    100%{
        width: 98%;
        background-color: green;
    }
}
@keyframes css {
    0%{
        background-color: red;
    }
    100%{
        width: 90%;
        background-color: green;
    }
}
@keyframes bootstrap {
    0%{
        background-color: red;
    }
    100%{
        width: 100%;
        background-color: green;
    }
}
@keyframes js {
    0%{
        background-color: red;
    }
    100%{
        width: 65%;
        background-color: yellowgreen;
    }
}

/* End progress bar */


/* Arrow To Top */

.scrolimg{
    width: 88px;
    height: 79px;
}
.scroll{
    width: 100px;
    height: 80px;
    transition: 0.2s;
    z-index: 99;
    position:fixed;
    bottom:0px;
    right:0px;
    
}
.scroll:hover{
    transform: scale(1.2)
    
}


/* Arrow To Top */